.navbar {
  background: #0b121e;
  border-bottom: 1px solid #1f2937;
  padding: 15px 20px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: #fff;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #9ca3af;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #00aaee;
}

.nav-links a.active {
  color: #00aaee;
  font-weight: bold;
}
